h1{
    background-color: blueviolet;
}

h3{
    background-color: crimson;
    font-size: 100;
}

p{
    font-size: 50;
    background-color: aqua;
}

img{
    width: 100;
    height: 350;
    object-fit: cover;

}